@use '../global/index' as g;

.footer {
  padding: 80px 0 20px;
  background-color: g.$color-base;
  color: g.$color-white;
  text-align: center;

  &__logo {
    font-size: 3.6em;
    margin-bottom: 50px;
  }
  &__copy {
    color: g.$color-gray;
    font-size: 1.2em;
  }
}