@use '../global/index' as g;

.footer {
  padding: 80px 0 20px;
  background-color: g.$color-base;
  color: g.$color-white;
  text-align: center;

  @include g.mq(small, max, true) {
    padding: 6.2vw 0 1.8vw;
  }

  &__logo {
    font-size: 3.6em;
    margin-bottom: 50px;
    @include g.mq(small, max, true) {
      margin-bottom: 9.2vw;
      font-size: 2em;
    }
  }
  &__copy {
    color: g.$color-gray;
    font-size: 1.2em;
  }
}