@use '../global/index' as g;
@use './works-card';


.pcnone {
  @include g.mq {
    display: none;
  }
}

.sec-title {
  font-size: 2.4em;
  font-weight: 500;
  line-height: 1.5;
}



/* ============================
   contact
   ============================ */

.hero-image {
  margin: 0 calc(50% - 50vw);
  padding-top: 49%;
  width: 100vw;
  @include g.bg_image;
  background-image: url(../img/heroImage_sp.png);
  border-radius: 18px;
  overflow: hidden;
}

.contact {
  &__inner {
    padding: 0 10.6vw;

    & > div {
      margin-top: 2em;
    }
  }
}

.contact-detail {
  &__inner {
    & > * + * {
      margin-top: 2em;
    }
  }
}

.contact-description {
  font-size: 1.2em;
}
